.App {
  display: flex;
  justify-content: center;
}
.navbar {
  background-color: #1048ff;
  color: white;
  padding: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step {
  font-size: 22px;
  align-items: center;
}
.step-name {
  margin-left: 4px;
}
.complete .step-number {
  background-color: #28a745;
}
.content {
  font-size: 22px;
  text-align: center;
}
/* .arrow {
  font-size: 1.2em;
  color: #1c3faa;
} */
.container {
  margin-left: 15px;
  width: 270px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #e0e7fa;
  overflow: hidden;
  font-family: Arial, sans-serif;
}
.item {
  padding: 15px;
  border-bottom: 1px solid #fff;
  color: #1c3faa;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}
.active .item {
  background-color: #ffffff;
  border-left: 5px solid #1c3faa;
}
.item:last-child {
  border-bottom: none;
}
.btn {
  position: fixed;
  bottom: 200px;
  right: 80px;
  background-color: #1048ff;
  color: #fff;
  width: 80px;
  height: 35px;
  padding: 5px;
}
.form-wrapper {
  justify-content: center;
}
